---
layout: base.njk
title: صفحه پیدا نشد
permalink: /404.html
---

<section class="banner banner-1" style="height: 60vh;">
    <div class="banner-content fade-in">
        <h1 style="font-size: 8rem; margin-bottom: 1rem;">۴۰۴</h1>
        <p style="font-size: 1.5rem;">صفحه‌ای که دنبالش می‌گردید پیدا نشد</p>
        <a href="/index.html" class="banner-btn" style="margin-top: 2rem; display: inline-block;">بازگشت به خانه</a>
    </div>
</section>
